{% extends 'index.html' %}
{% block content %}
<div class="content">
	<div class="product-details card flex-row">
		<div class="details card">
			<h1>{{ product.name }}</h1>
			<h3 style="color: blue;"><span style="color: blueviolet;">Price:</span> {{product.price}}
				{{product.currency}}
			</h3>
			<h3 style="color: blueviolet;">Description:</h3>
			<p style="overflow-y: auto; height: 55%;color: blue;">{{ product.description }}</p>
			{% if product.availability.lower() != 'false' %}
			<div class="d-flex justify-content-end">
				<button class="btn btn-primary" type="button" onclick="purchase({{product.id}},'{{public_key}}')">Buy
					NOW!!!</button>
			</div>
			{% endif %}
		</div>
		<div class="image card">
			<img src="{{ product.image_url }}" alt="{{ product.name }}">
		</div>
	</div>
</div>
{% endblock %}
